{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": 0,
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 2,
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignorePattern": "^import .*"
    }],
    "import/prefer-default-export": "off",
    "camelcase": 0,
    "class-methods-use-this": 0,
    "no-async-promise-executor": 0
  },
  "globals": {
    "logger": "readonly"
  }
}
